{
  "extends": ["airbnb", "prettier"],
  "ignorePatterns": ["build"],
  "globals": {
    "localStorage": true,
    "React": "writable",
    "AlgoSigner": true
  },
  "rules": {
    "react/prefer-stateless-function": "warn",
    "react/no-unused-state": "warn",
    "max-classes-per-file": "warn",
    "react/react-in-jsx-scope": "off",
    "global-require": 0,
    "new-cap": [2, { "capIsNew": false, "newIsCap": true }],
    "no-class-assign": 0,
    "no-nested-ternary": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "import/imports-first": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/html-has-lang": 0,
    "no-confusing-arrow": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": 0,
    "class-methods-use-this": 0,
    "arrow-parens": 0,
    "comma-dangle": "off",
    "camelcase": "off",
    "no-underscore-dangle": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "react/button-has-type": "warn",
    "react/prop-types": "warn",
    "semi": "warn",
    "max-len": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "radix": "warn",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "react/no-unescaped-entities": 0,
    "import/no-unresolved": ["error", { "ignore": ["reach-sh", "build"] }],
    "import/extensions": [
      "error",
      {
        "js": "ignorePackages",
        "json": "always",
        "mjs": "always"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "moduleDirectory": [
          "node_modules",
          "src/"
        ]
      }
    }
  },
  "plugins": [
    "jest",
    "react-hooks"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "parser": "babel-eslint"
}