@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-gray-200;
}

.result {
  img {
    display: inline;
  }
}

.fixed-plug {
  position: absolute;
  left: 0;
  top: 0;
  img {
    width: 10%;
  }
  @apply bg-black font-white;
}
